<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta property="og:title" content="SimplCV - Simple, beautiful resumes" />
    <meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
    <title>SimplCV</title>
</head>
<body>

    {{{body}}}

</body>
</html>