
<html>
<head>
	<title>Lawrence Ripsher</title>
	<script>

	</script>

	<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Arima+Madurai:300|Asul|Comfortaa:300|EB+Garamond|Overlock+SC|PT+Sans+Caption|Prompt" rel="stylesheet">
	<link href="/public/css/styles.css" rel="stylesheet">

</head>
<body>
	
	<div class="header">
		{{{header}}}
	</div>
	<div class="content">
		{{{content}}}
	</div>
	<div class="footer">
		{{{footer}}}
	</div>

</body>
</html>
